In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.ticker import FormatStrFormatter
import numpy as np
import statsmodels.api as sm
from io import StringIO

import preprocessor as pp
import emoji
from nltk.tokenize import TweetTokenizer

In [2]:
df = pd.read_csv('../data/monkeypox.csv')
df = df.drop('number', axis=1)
df = df.drop('created_at', axis=1)

In [3]:
# Format text columns
text_columns = ['text', 'user description'] 

for cl in text_columns:
    df[cl] = [emoji.demojize(pp.tokenize(text)).lower() for text in df[cl]]

In [4]:
# Check if the values needs to be standadized
for cl in df.columns:
    if cl not in text_columns:
        print(cl)
        print(df[cl].unique())

source
['Twitter Web App' 'TweetDeck' 'eClincher' 'Sprout Social'
 'SocialNewsDesk' 'Twitter for iPhone' 'WordPress.com'
 'Monkeypox News & Data' 'Hootsuite Inc.' 'Twitter for Android'
 'TwitterRSSTSOLAgent' 'NewsWorldpress' 'aa.com.tr' 'Tweetbot for iΟS'
 'SocialFlow' 'IFTTT' 'Brandwatch' 'dlvr.it' 'Twitter for iPad'
 'San Francisco PLOW' 'Zapier.com' 'Microsoft Power Platform'
 'Circleboom Publish' 'True Anthem' 'Insatiable Retriever'
 'HelloworldTest123' 'AI' 'Echobox' 'Twitter' 'Sprinklr Publishing'
 'The Tweeted Times' 'Twidere for Android' 'VernonNow' 'ShuswapNow'
 'PentictonNow' 'Kamloops BC Now' 'Welcome 2 Kelowna News'
 'PrinceGeorgeNow' 'VictoriaNow' 'FS_Poster_App'
 'Twitter Media Studio - LiveCut' 'Buffer' 'Revive Social App'
 'br00t4c App 01' 'skiviers' 'presshub_usbot' 'Next Newsfeeds.media'
 'NewsNacho' 'theglobe.co.com' 'Twitter Media Studio'
 'TweetCaster for iOS' 'Akhbaralyawm.com Post' 'POZ Auto Tweet'
 'RH Auto Tweet' 'TS Auto Tweet' 'ContentStudio.io' 'Germany News PLOW'
 'Corona Virus Briefly' 'Smart Post App' 'Flamingo for Android' 'Glittall'
 'Mirage News Posts' 'Kunnusta.io' 'The Global Herald'
 'Radio New Zealand News' 'newslink.app' 'Meltwater Social'
 'Chronicle.lu v2' 'Chronicle.lu v2 corporate' 'The Social Jukebox' 'Orlo'
 'Instagram' 'Sendible' 'SMCnextscript' 'garda-security-alerts'
 'OxfordBlue-Twitter' 'canadanewsmedia' 'Ghanamma.com' 'Channel969'
 'histeriusapp' 'SmartNews | スマートニュース' 'Blog2Social APP' 'isearch247'
 'StudyFinds.org' 'A Great Big City' 'boutlineprod'
 'Constant Contact - Social Posts' 'LaterMedia' 'Adobe Express'
 'Raja News' 'BigEarthData EcoSearch' 'HubSpot' 'Twitterrific for iOS'
 'SocialChamp IO ' 'Strictly Tweetbot for Wordpress' 'EUwatch'
 'NaYourNews' 'ANews Twitter' 'Barbados Today' 'Bruning Twitter Feed'
 'CG 2.0' 'Los Angeles PLOW' 'TwinyBots' 'RFM-RatchetFridayMedia'
 'App for 268 Today' 'Cana News Online' 'The Healthsite'
 'Empire Report Newyork Crone' 'BLOX CMS' 'TheTop1' 'Loomly'
 'SocialPilot.co' 'RSOE EDIS Events' 'EIN Presswire' 'GT Auto-Poster'
 'NewsFocusUs' 'PromoRepublic' 'Crowdfire App' 'HeyOrca' 'mkt3id'
 'National Herald' 'Dave Warner Says' 'Оwly' 'Global Social Post'
 'Twitter Updates Assistant' 'Clearview Social, Inc.' 'JMG Auto Posting'
 'drudge_rssfeed' 'of today' 'Periscope' 'TripDatabaseTweetBot'
 'Twitter for Mac' 'YummyApp02' 'Globetweeter' 'Paper.li'
 'trendingpetitionsbot' 'Resistbot Open Letters' 'SocialOomph' 'Argo Bot'
 'TweetDeck Web App' 'Twitter for Advertisers' 'RandoNewsBot'
 'PolitiTweet Alerts' 'Tweetlogix' 'OneUp App' 'Fenix 2' 'Talon Android'
 'SMAP Lite']
user is verified
[False  True]
user has url
[False  True]
user created at
['2011-08-14 19:22:06' '2009-04-17 15:21:43' '2019-03-05 19:24:33' ...
 '2020-03-21 13:40:39' '2022-03-04 11:46:18' '2019-09-18 11:53:12']
retweet_count
[   2    0    1    3    6    4   27    5    9   11   43   10   28   14
   29   91   16   76    8   57   13   24  346   17    7   19   12   61
  185   26   21   50  129  138  170   15  544  292   20   35   31   46
  196   25   59   44   64   60   22  132  113  343   23   18   66  713
   48   38   72  268   89   41   58  554 2281   96 1202   73   53  125
   99   62  549  119  293  180   98  383  166]
reply_count
[  0   1  16   3   2   8   5  14   4  26   7 117   9  11  25   6  20  21
  38  15  12  18  13  10  23 138  46  57  19  17  27  59  24  60  49 140
  47  55  32  31  78  30 209  22  33 550  74 134 110  42]
like_count
[    2     1     0     8     5     4    28    47     3    10    12    11
    23   120    20     6    62     9    49     7    45   253    14    30
    13    18    90   101    36    29  1162    84    25    31    21    26
    44    24    37   126   446    67    42    95    51    19    73    38
    17    41    88    16    15   182    22    74   277   373    58    61
    63    70    35   668   336    66    64    59   109   127    33   181
    50   251   131    83    60    46    68   115   525    40    54   528
  7498    27   100    57    72    32    48   149    34    77   466  1121
   769   816   677    86   170   381   167   521   592   206    96    52
   113   548   289  3641   574    75   157  1494   123   186  2833   260
  7179   130   286    79   108   102 14561   441    76   272    53   178
   910   138   208   111   366   104  1724    39   304    43  1614   223
    85   110   817   268   129   105   804   399]
quote_count
[   0    1    4    2   12    3    7  244   51   17   23   10   14   21
   16    5   11  237   54    8    6 1603  198   25  155   13   47   43
  300   22   67   19   46    9  183  327   18   73  168   41]
followers count
[ 3696 75836  2852 ...   144  2836  3944]
following count
[2993 1753 2381 ...  687 4202 2350]
tweet count
[  3459 125528  10615 ...   7032   3066   2066]
listed_count
[   25   531    14   663   747     3  1132   807     0    30     2   338
    98    10  4106  1112    11     6   378    19     1    20  2304     8
  1240  3419    27    41   113    87  3078   128    29   349   180    15
   568   597   262   138     5     7  4564   500   427  2328    17   360
   257    99    71   546    21   600   118  1069    22    78    61   434
   359 20966   489   492   743    40    16    26    35  1422  3311   575
   984    69   640 10559    24    66    34   276     4   280    48   680
 10271   136    86   190  2928   186   131    79    13    54  4402   150
   146   542  1227   435   151   196   232     9  2473    47   843   170
   223   526   110   234    82    63   617    93   174    28  2927    38
   111   194   540   165   122   309    33   797  1527  1711    70   942
  7891  3724   848    18    56   466   518    31   392  1885  2515    91
    12    55    83 29209  1705   395   558   610   962   318   145    76
   422    53  4933   297   788    75   286  2218  3274   171    42    57
 13707    36  1856  6017  3644   709   228   315  5921   121  4549 35778
   153   237   112   231 26584   868   193   215  2083   108   626  1478
   987   147   520    49   686   287   288   242  1143   220  4472   182
   999   851    85    72   361   149    39   989   212   273    46   468
   278   239   188   585    62   455   272   661    32   314  1313   301
   204   425    92    84  3660   249   586    80  1756   376  1409    37
   582   343   740   263   452  3318    50   323   656  2204   381   189
   735   409   326   711   139  1716  2674    74  2059    44    45   130
   375    51   243   339  1345    23   140   781  1684   166   400   325
   669  3569   545  3046  4259    58   386   867   144   104   135   103
  2974  1335   348  2176   216    88   351  1545  1430  8384  1327  1109
  1060  1729    94  2949  6892   550   879  1888  2975   217  1709  1397
  1805   755  1072   254   983   123    65   199    73   298  1396  1615
   179    68   697   211   230   894  1370   476   208  2718   107   365
   495   324   303  1318   696   161  1727    97   407   305   158   322
   157   557   102    77   266   393   892   891   454  1789  1269    67
   148   415  1520   726   524   270   185   172   536  2295   863   414
  3574  1410   532   282 13501 18102   774   160  1000   493   522   408
   258   155   168   306    52   710   203   300   487 11330   590    43
   869   116   327   187   117  5242 72255   292  1771  1036  1016   437
  1426   556   402   370  2651   320   176   124  4399   233   191  5890
   815   126   410   307    59   316   603   100   554   156   321   353
   106   986   109   142   308   120   133   125   105   423   388  3192
    90  1641    64    81   152    95   132   447   143   271   167   541
   483    60   137   715   244   129   379   497   367   264  5439   198
  1440   888  1301    89   591   950   329  5955   373   578   458  1507
   777   214   260   202   245   134   221  1122   469   760   178   226
  3155  1124  2202   341   922   333   284   114   424    96   731   275
  2726  2349   432   294   173   334  2318]
user location
['London, England' 'Charleston, WV' 'Utah, USA' ...
 'Lenni-Lenape Land, South NJ' 'Syilx Territory (BC, Canada)' 'Northshore']
binary_class
[0 1]
ternary_class
[0 9 1]

In [5]:
for cl in df.columns:
    if cl not in text_columns:
        print(cl)
        print(df[cl].value_counts())

source
Twitter for iPhone     1780
Twitter Web App        1613
Twitter for Android    1095
WordPress.com           357
Twitter for iPad        181
                       ...
Chronicle.lu v2           1
newslink.app              1
The Global Herald         1
Mirage News Posts         1
SMAP Lite                 1
Name: source, Length: 148, dtype: int64
user is verified
False    5385
True      402
Name: user is verified, dtype: int64
user has url
False    3566
True     2221
Name: user has url, dtype: int64
user created at
2013-08-13 06:16:35    44
2018-02-02 14:55:32    24
2020-03-11 08:05:33    22
2022-01-09 11:48:24    21
2022-01-14 23:40:55    21
                       ..
2022-04-17 19:41:24     1
2022-05-15 15:48:14     1
2016-08-20 18:11:59     1
2020-02-25 23:47:56     1
2019-09-18 11:53:12     1
Name: user created at, Length: 4588, dtype: int64
retweet_count
0      4575
1       550
2       176
3       104
4        73
       ...
113       1
343       1
185       1
66        1
166       1
Name: retweet_count, Length: 79, dtype: int64
reply_count
0      4184
1      1011
2       260
3        97
4        58
6        25
5        22
7        20
9        15
8        14
11        6
16        5
13        5
26        4
10        4
47        3
12        3
19        3
57        3
18        3
15        3
14        3
32        2
22        2
21        2
20        2
25        2
17        2
38        2
24        2
78        1
30        1
209       1
31        1
33        1
110       1
74        1
134       1
550       1
138       1
55        1
140       1
49        1
60        1
59        1
27        1
46        1
23        1
117       1
42        1
Name: reply_count, dtype: int64
like_count
0      3024
1       986
2       452
3       256
4       176
       ...
32        1
49        1
57        1
100       1
399       1
Name: like_count, Length: 152, dtype: int64
quote_count
0       5316
1        281
2         69
3         27
4         16
5         11
7          9
6          7
10         5
11         5
12         4
8          4
47         2
22         2
14         2
17         2
9          2
67         1
19         1
46         1
51         1
300        1
327        1
18         1
73         1
168        1
183        1
155        1
43         1
13         1
25         1
198        1
1603       1
54         1
237        1
244        1
16         1
21         1
23         1
41         1
Name: quote_count, dtype: int64
followers count
4        72
6        57
0        56
5        49
9        46
         ..
44371     1
52363     1
79553     1
605       1
3944      1
Name: followers count, Length: 2433, dtype: int64
following count
1        104
0         76
1346      44
2         37
19        35
        ...
3969       1
2055       1
330        1
12512      1
2350       1
Name: following count, Length: 2137, dtype: int64
tweet count
23156     43
2412      24
179461    22
128163    21
1026      18
          ..
89429      1
6073       1
16985      1
11570      1
2066       1
Name: tweet count, Length: 4288, dtype: int64
listed_count
0        1783
1         673
2         335
3         243
4         212
         ...
1396        1
1615        1
20966       1
697         1
2318        1
Name: listed_count, Length: 511, dtype: int64
user location
None                            1864
United States                    136
Jamaica                           80
New York, NY                      74
USA                               68
                                ...
Land of :cactus: corrupt GOP       1
Chapin, SC                         1
US                                 1
Jewtropolis                        1
Northshore                         1
Name: user location, Length: 1886, dtype: int64
binary_class
0    4718
1    1069
Name: binary_class, dtype: int64
ternary_class
9    2753
0    1965
1    1069
Name: ternary_class, dtype: int64

In [6]:
print(df['binary_class'].value_counts())

print(df['ternary_class'].value_counts())

0    4718
1    1069
Name: binary_class, dtype: int64
9    2753
0    1965
1    1069
Name: ternary_class, dtype: int64

In [7]:
tweet_tokenizer = TweetTokenizer()

for cl in text_columns:
    df[cl] = [tweet_tokenizer.tokenize(text) for text in df[cl]]

In [8]:
df

,text,source,user is verified,user has url,user description,user created at,retweet_count,reply_count,like_count,quote_count,followers count,following count,tweet count,listed_count,user location,binary_class,ternary_class
0,"[much, of, the, focus, on, $, hashtag, $, rece...",Twitter Web App,False,False,"[mother, of, $, number, $, ,, ex, wife, of, $,...",2011-08-14 19:22:06,2,0,2,0,3696,2993,3459,25,"London, England",0,0
1,"[icymi, :, the, first, probable, case, of, mon...",TweetDeck,True,True,"[wchs-tv, serves, the, charleston-huntington, ...",2009-04-17 15:21:43,2,0,1,0,75836,1753,125528,531,"Charleston, WV",0,0
2,"[who, :, $, hashtag, $, outbreak, not, yet, a,...",eClincher,False,False,"[patient, engagement, |, revenue, cycle, manag...",2019-03-05 19:24:33,0,0,0,0,2852,2381,10615,14,"Utah, USA",0,0
3,"[according, to, the, cdc, ,, monkeypox, is, us...",Sprout Social,True,True,"[home, of, the, minnesota, $, mention, $, and,...",2009-02-18 14:57:13,1,0,1,0,22897,5665,119258,663,Downtown Minneapolis,0,0
4,"[lgbtq, advocates, and, health, care, organiza...",SocialNewsDesk,True,True,"[spectrum, news, $, number, $, offers, the, be...",2008-10-27 02:14:13,0,0,0,0,81296,466,148219,747,"Rochester, NY",0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5782,"[$, mention, $, $, mention, $, $, mention, $, ...",Twitter for Android,False,False,[none],2022-06-25 04:07:19,0,0,0,0,4,199,394,0,None,1,1
5783,"[$, mention, $, $, mention, $, $, mention, $, ...",Twitter for Android,False,False,[none],2022-06-25 04:07:19,0,0,0,0,4,199,394,0,None,1,1
5784,"[$, mention, $, it, seems, we, have, a, new, v...",Twitter Web App,False,False,"[hermit, who, loves, to, read, and, has, $, nu...",2020-03-21 13:40:39,0,0,2,0,66,201,7032,0,None,1,1
5785,"[$, mention, $, from, what, i, gather, ', monk...",Twitter for Android,False,False,"[a, well, educated, mind, will, always, have, ...",2022-03-04 11:46:18,0,0,0,0,354,2350,3066,1,None,1,1
5786,"[wtf, :, exclamation_question_mark, :, monkeyp...",Twitter for iPhone,False,False,"[get, hard, and, get, wet, $, smiley, $, weat_...",2019-09-18 11:53:12,1,0,4,1,3944,1254,2066,9,None,1,1